aiomysql==0.2.0
APScheduler==3.10.1
beeprint==2.4.10
better_exceptions==0.3.3
fastdtw==0.3.4
importlib-metadata==6.7.0
loguru==0.7.0
pandas==1.5.3
peewee==3.16.2
peewee-async==0.8.1
PyMySQL==1.0.3
scikit-learn==1.2.2
scipy==1.10.1
uvloop==0.17.0
vnpy==3.6.0
vnpy-binance-pro==2023.6.20.1
vnpy-crypto==0.1.0
